<div class="admin-container">
    <div class="admin-button home-button" ng-click="goHome()"></div>
    <div class="admin-button play-button" ng-click="reloadGame()"></div>
    <div class="admin-button reload-button" ng-click="reloadGame()"></div>
    <!--<div class="admin-button win-button" ng-click="finishGame(true)"></div>-->
    <!--<div class="admin-button lose-button" ng-click="finishGame(false)"></div>-->
    <counter mainclass="timer" min="1" max="999" setting="setting" field="timer" save="saveSettings()"></counter>
    <counter mainclass="memorize" min="1" max="999" setting="setting"  filed="memorize" save="saveSettings()"></counter>
    <!--<counter mainclass="cardcols" min="4" max="6" setting="setting"  field="cols" save="saveSettings()"></counter>-->
    <div class="sponsor-wrapper">
        <div class="deletesponsor clickable" ng-if="setting.sponsor.filename" ng-click="deleteSponser()">X</div>
        <div class="sponsor clickable"
             ngf-select="loadSponsor($file)"
             ng-style="{backgroundImage:'url(/images/'+setting.sponsor.filename+')'}">

        </div>
    </div>
    <color-picker setting="setting" save="saveSettings()"></color-picker>

    <slider ng-model="setting.images" upload="upload" setting="setting"></slider>

</div>
