body{
    background-color: #080810;
}

.clickable{
    cursor: pointer;
}

.unclickable{
    pointer-events: none;
}

.unselectable{
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}


.admin-container{
    width:960px;
    height:540px;
    margin: auto;
    position: relative;
    background-image: url('../images/admin/bg.png');
    background-size: 960px 540px;
}
.admin-container:after {
    /*content: ' ';*/
    /*display: block;*/
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*z-index: 1;*/
    /*opacity: 1;*/
    /*background-image: url('../images/admin/bg.png');*/
    /*background-repeat: no-repeat;*/
    /*background-position: 50% 0;*/
    /*-ms-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-webkit-background-size: cover;*/
    /*background-size: cover;*/
    /*pointer-events: none;*/

    /*background-size: 960px 540px;*/
    /*opacity: 0.6;*/
    /*width:960px;*/
    /*height:540px;*/
}

.admin-button{
    cursor: pointer;
}
.admin-button:active{
    opacity: 0.6;
}
.admin-button:hover{
    opacity: 0.9;
}


.home-button{
    background-image: url('../images/admin/home.png');
    background-size: 84px 84px;
    width:84px;
    height: 84px;
    position: absolute;
    right: 24px;
    top: 43px
}

.play-button{
    background-image: url('../images/admin/playgame.png');
    background-size: 218px 62px;
    width:218px;
    height: 62px;
    position: absolute;
    left: 231px;
    bottom: 15px;
}

.reload-button{
    background-image: url('../images/admin/reloadgame.png');
    background-size: 218px 62px;
    width:218px;
    height: 62px;
    position: absolute;
    right: 235px;
    bottom: 15px;
}

.win-button{
    background-image: url('../images/admin/win-but.png');
    background-size: 164px 47px;
    width:164px;
    height: 47px;
    position: absolute;
    left: 17px;
    top: 248px
}

.lose-button{
    background-image: url('../images/admin/lose.png');
    background-size: 164px 47px;
    width:164px;
    height: 47px;
    position: absolute;
    left: 194px;
    top: 248px
}

.timer{
    background-image: url('../images/admin/timer.png');
    background-size: 339px 54px;
    width:339px;
    height: 54px;
    position: absolute;
    left: 36px;
    top: 180px;
}
.memorize{
    background-image: url('../images/admin/memorize.png');
    background-size: 412px 54px;
    width:412px;
    height: 54px;
    position: absolute;
    right: 20px;
    top: 180px;
}

.cardcols{
    background-image: url('../images/admin/cardcols.png');
    background-size: 371px 56px;
    width:371px;
    height: 56px;
    position: absolute;
    right: 20px;
    top: 242px;
}

.counter .button-wrapper{
    position: relative;
    width:100%;
    height:100%;
}
.counter .button-right{
    width: 46px;
    height: 56px;
    /*background-color: #00b3ee;*/
    position: absolute;
    right: 0px;
}
.counter .button-left{
    width: 46px;
    height: 56px;
    /*background-color: #00b3ee;*/
    position: absolute;
    right: 160px;
}
.counter .digit{
    font-size: 32px;
    color: white;
    opacity: 0.9;
    text-align: center;
    /*background-color: #00b3ee;*/
    width: 60px;
    position: absolute;
    right: 74px;
    margin-top: 5px;

}


.slider{
    width: 896px;
    height: 148px;
    position: absolute;
    right: 34px;
    bottom: 82px;
    background-image: url('../images/admin/slider.png');
    background-size: 896px 148px;
}

.slider-wrapper{
    width:100%;
    height: 100%;
    position: relative;
    /*width: 896px;*/
    /*height: 148px;*/
    /*position: absolute;*/
}

.slider-button{
    /*background-color: #00b3ee;*/
    width: 70px;
    height: 148px;
    position: absolute;

}
.slider-button-left{
    left: 0px;
}
.slider-button-right{
    right: 0px;
}
.slider-content{
    width: 743px;
    height: 134px;
    /*background-color: #6d3353;*/
    overflow: hidden;
    position: absolute;
    left: 76px;
    top: 7px;
    white-space: nowrap;
}

.slider-item{
    width: 107px;
    height: 129px;
    display: inline-block;
    margin: 4px 10px 4px 2px;
    position: relative;
    background-size: 107px 129px;
}

.slider-swipe-wrapper{
    height:100%;
    position: absolute;
    -webkit-transition: left 500ms ease-out ;
    -moz-transition: left 500ms ease-out ;
    -o-transition: left 500ms ease-out ;
    transition: left 500ms ease-out ;
}

.slider-item-card{
    background-image: url('../images/admin/slider-card.png');
}
.slider-item-add{
    background-image: url('../images/admin/slider-card-add.png');
}

.slider-item-image{
    position: absolute;
    width: 103px;
    height: 106px;
    left: 2px;
    top: 20px;
    background-size: cover;
    background-color: #0e0e0e;
    background-repeat: no-repeat;
    background-position: center;
    /*background-color: #ff35ff;*/
}

.slider-item-delete-button{
    position: absolute;
    width:25px;
    height: 21px;
    right: 2px;
    /*background-color: #942a25;*/
}
.slider-item-check-button{
    position: absolute;
    width: 23px;
    height: 21px;
    left: 2px;
    /*background-color: #04fa25;*/
}

.slider-item-number{
    position: absolute;
    height: 23px;
    left: 2px;
    width: 103px;
    text-align: center;
    color:white;
    pointer-events: none;
}
.slide-available-check{
    width: 12px;
    height: 9px;
    position: absolute;
    right: 7px;
    bottom: 6px;
    background-image: url('../images/admin/slider-card-check.png');
    background-size: 12px 9px;
}

.color-picker{
    width: 196px;
    height: 55px;
    position: absolute;
    left: 105px;
    top: 242px;
    background-image: url('../images/admin/font-color.png');
    background-size: 196px 55px;
}

.color-picker-content{
    width:100%;
    height:100%;
    position: relative;
}

.color-picker-content{
    position: absolute;
    opacity: 1;
    width: 55px;
    height: 34px;
    right: 10px;
    bottom: 11px;
}
.sponsor-wrapper{
    width: 150px;
    position: absolute;
    top: 244px;
    right: 108px;
    height: 70px;
    padding: 10px;
}
.sponsor{
    width:100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0,0,0,0.5);
}
.deletesponsor{
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: rgba(255,0,0,0.2);
    left: -50px;
    position: absolute;
    vertical-align: middle;
    text-align: center;
    font-size: 28px;
    color: white;
}