.btn {
    margin-right: 8px;
}
body{
    background-color: #080810;
}

.clickable{
    cursor: pointer;
}

.unclickable{
    pointer-events: none;
}

.unselectable{
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

.main-container{
    width:1920px;
    height:1080px;
    padding: 0px;
    margin: 0px;
    position: fixed;
}
.main-bg{
    background-image: url('../images/bg.jpg');
    background-size: 1920px 1080px;
}
.main-title{
    background-image: url('../images/title.jpg');
    background-size: 1920px 1080px;
    opacity: 0;
}

.main-title-for-logo{
    background-image: url('../images/title_for_logo.jpg');
    background-size: 1920px 1080px;
    opacity: 0;
}


.game{
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    height: 100%;
}

.game-left-side{
    position: relative;
    width:848px;
    height:100%;
    /*background-color: rgba(44,123,0,0.2);*/
}

.game-mid-side{
    width:100%;
    position: relative;
    /*background-color: rgba(123,44,123,0.2);*/
}

.game-right-side{
    position: relative;
    width:848px;
    height:100%;
    /*background-color: rgba(44,0,123,0.2);*/
}

.side-card{
    width:250px;
    height:400px;
    top:440px;
    position: absolute;
    opacity: 0;
}

.side-card-right{
    background-image: url('../images/timer.png');
    background-size: 214px 439px;
    width:214px;
    height:439px;
}
.side-card-left{
    background-image: url('../images/logo.png');
    background-size: 213px 438px;
    width:213px;
    height:438px;
}

.game-logo{
    position: fixed;
    background-image: url('../images/game-logo.png');
    background-size: 1025px 688px;
    width: 1025px;
    height: 688px;
    left:460px;
    opacity: 0;
}

.game-grid{
    width:100%;
    height:100%;
    top:400px;
    position: absolute;
    /*background-color: rgba(255,255,0,0.4);*/
}
.game-grid-content{
    width:100%;
    /*background-color: rgba(255,255,0,0.4);*/
    display: flex;
    margin-bottom: 20px;
    flex-wrap: nowrap;
    justify-content:space-between;
}
.game-card{
    /*color:white;*/
    /*font-size: 22px;*/
    /*background-image: url('../images/game-logo.png');*/
    /*background-size: 1025px 688px;*/
    /*width: 1025px;*/
    /*height: 688px;*/
    /*position: relative;*/
    padding: 10px;
    width: 226px;
    height: 340px;
    max-width:226px;
    max-height:287px;
}
.game-card-off{
    position: relative;
    background-image: url('../images/card.png');
    width:100%;
    height:100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.game-card-on{
    position: relative;
    width:100%;
    height:100%;

}
.game-card-bg{
    position: absolute;

    background-image: url('../images/card_on_bg.png');
    width:100%;
    height:100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
 }
.game-card-image{
    position: relative;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    right: -10px;
    top: calc(50% - 28px);
    margin-top: -50%;
    zoom:0.83;
    width: 226px;
    height: 287px;
    border-radius: 8px;
}

.game-card-image-wrapper{
    width:100%;
    height:100%;
    position: absolute;
}

.game-card-fg{
    position: absolute;
    background-image: url('../images/card_on_fg.png');
    width:100%;
    height:100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.gameover-win{
    position: absolute;
    background-image: url('../images/gameover_win.png');
    width:100%;
    height:100%;

    background-position: center;
    background-repeat: no-repeat;
}
.gameover-lose{
    position: absolute;
    background-image: url('../images/gameover_lose.png');
    width:100%;
    height:100%;

    background-position: center;
    background-repeat: no-repeat;
}

.card-index{
    position: absolute;
    top: 5px;
    width: 100%;
    text-align: center;
    font-size: 48px;
}
.sponsor{
    width:300px;
    height: 300px;
    position: absolute;
    /*background-color: rgba(255,0,255,0.2);*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /*background-color: rgba(0,0,0,0.5);*/
}