<div class="main-container">
    <style>
        body{
            color:{{game.fontcolor || 'white'}} !important;
        }
    </style>
    <game onoff="gameIsOn"></game>
    <final-screen game="game" class="unclickable unselectable"></final-screen>
    <title onoff="titleIsOn" on-done="showGameField()" class="unclickable unselectable"></title>

</div>

<!--body {-->
<!--color:-->
<!--}-->