<div class="counter" ng-class="mainclass">
    <div class="button-wrapper">
        <div class="admin-button button-left" ng-click="sub()"></div>
        <div class="admin-button button-right" ng-click="add()"></div>
        <div class="digit">{{setting[field]}}</div>
    </div>
</div>