<div class="game-card clickable" ng-click="toggleOpen()" ng-style="{opacity:card.guessed?0.2:1,zoom:zoom}" id="card_{{card.id}}">
    <div ng-show="!frontSide" class="game-card-off">
        <div class="card-index"  ng-show="!frontSide" >{{card.id+1}}</div>
    </div>
    <div ng-show="frontSide" class="game-card-on">
        <div class="game-card-bg">

        </div>
        <div class="game-card-image-wrapper">
            <div class="game-card-image" ng-style="{backgroundImage:'url(images/'+card.image.filename+')'}" >
            </div>
        </div>
        <div class="game-card-fg">

        </div>

    </div>
</div>