<div class="color-picker" >
    <div class="color-picker-wrapper">
        <div colorpicker="hex" colorpicker-selected="someEvent()" colorpicker-position="top" ng-model="setting.fontcolor" class="color-picker-content" ng-style="{backgroundColor:setting.fontcolor}"></div>
    </div>
</div>