
<div class="main-container" style="color:white; font-size:250px; background-color: rgba(0,0,0,0.5)" ng-show="game.isOver">
    <div id="fs-text" style="text-align: center;vertical-align: middle;line-height: 1300px;height:100%">
        <div ng-show="game.isOver=='win'"  class="gameover-win"></div>
        <div ng-show="game.isOver=='loose'" class="gameover-lose"></div>
    </div>
</div>