<div class="main-container">
    <div class="main-bg main-container unclickable">
    </div>
    <div class="game">
        <div class="game-left-side">
            <div class="side-card side-card-left" id="left-card"></div>
        </div>

        <div class="game-mid-side">
            <div class="sponsor" id="sponsor-logo" ng-show="game.sponsor.filename && onoff" ng-style="{backgroundImage:'url(/images/'+game.sponsor.filename+')'}"></div>
            <div class="game-logo" id="game-logo" ng-style="{left:game.sponsor.filename?(620+'px'):(460+'px')}"></div>
            <div class="game-grid" ng-style="{ marginTop:girdOffset}">
                <div class="game-grid-content" ng-repeat="row in game.cards">
                        <card class="game-card" ng-repeat="card in row" card="card"></card>
                </div>
            </div>
        </div>

        <div class="game-right-side">
            <div class="side-card side-card-right text-center" id="right-card">
                <span style="font-size: 110px;line-height: 530px;">{{game.timer}}</span>
            </div>
        </div>
    </div>
</div>