<div class="slider">
    <div class="slider-wrapper">
        <div class="admin-button slider-button slider-button-left" ng-click="swipeRight()"></div>
        <div class="admin-button slider-button slider-button-right" ng-click="swipeLeft()"></div>
        <div class="slider-content">
            <div class="slider-swipe-wrapper" ng-style="{left:offset}">
                <div class="slider-item slider-item-card"
                     ng-repeat="image in ngModel"
                >
                    <div class="admin-button slider-item-delete-button" ng-click="deleteImage(image)"></div>
                    <div class="admin-button slider-item-number">{{$index+1}}</div>
                    <div class="admin-button slider-item-check-button"  ng-click="chageAvailable(image)">
                        <div class="slide-available-check" ng-show="image.available"></div>
                    </div>
                    <div class="slider-item-image" ng-style="{backgroundImage:'url(/images/'+image.filename+')'}"></div>
                </div>
                <div class="admin-button slider-item slider-item-add" ngf-select="upload($file)">

                </div>
            </div>
        </div>
    </div>
</div>
