<div class=" main-container" id="title" ng-class="game.sponsor.filename?'main-title-for-logo':'main-title'">
    <div class="sponsor" style="    left: 770px;top: 20px;   width: 400px;    height: 400px;" id="sponsor-logo" ng-show="game.sponsor.filename" ng-style="{backgroundImage:'url(http://127.0.0.1:3000/images/'+game.sponsor.filename+')'}"></div>
</div>